nav {
    width: 26%;
    margin: auto;
}

#birinci {
    width: 90%;
    margin: auto;
    background-color: #eeeeee;
}

#ikinci {
    width: 90%;
    height: 80%;
    margin: auto;
}

#kutu1 {
    background-color: #7ee5da;
    float: left;
    width: 34.8%;
    height: 100px;
    margin: 0.1%;
}

#kutu2 {
    background-color: #70ccc2;
    float: left;
    width: 29.8%;
    height: 100px;
    margin: 0.1%;
}

#kutu3 {
    background-color: #62b3aa;
    float: right;
    width: 34.8%;
    height: 100px;
    margin: 0.1%;
}

#arama {
    width: 26%;
    margin: auto;
}
