nav {
    margin: 0% 35%;
}

#birinci {
    width: 62%;
    margin: 0% 19%;
    float: none;
    background-color: #eeeeee;
}

#birinci>p {
    text-indent: 35%;
    padding: 0%;
}

#ikinci {
    width: 62%;
    margin: 0% 19%;
    float: left;
}

#kutu1 {
    background-color: #7ee5da;
    float: left;
    margin-left: 20px;
    width: 35%;
}

#kutu2 {
    background-color: #70ccc2;
    float: left;
    width: 30%;
}

#kutu3 {
    background-color: #62b3aa;
    float: left;
    width: 35%;
}



#arama {
    margin-left: 30%;
    padding: 0%;
}

#input1 {
    display: inline-table;
    margin-left: 35%;
    padding: 0%;
}